@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&family=Roboto+Condensed:wght@400;700&family=Ropa+Sans:ital@0;1&display=swap');


html{
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    margin: 0;
    background-color: rgba(8, 8, 8, 0.973);
}